<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  </head>
  <body>
    <%- include('navbar'); %>
    <h1 class="mt-5 mb-4"><%= title %></h1>
    <div class="list ml-5 d-flex flex-column h-100 align-items-center">
      <% blogs.forEach (function (blog) { %>
        <div class="blogListing border rounded p-4 mb-3 w-75 d-inline-flex-column">
          <h4 class="blogHeading">
            <%= blog.blogTitle %>
            <span class="text-muted font-italic font-weight-light"> - <%= blog.createdOn.substring(0,10) %></span>
          </h4>
          <pre class="blogText m-3"><%= blog.blogText %></pre>
          <div class="options d-inline-flex">
            <a class="nav-link px-8" href=<%= "/blog/edit/" + blog.id %>> <i class="fa fa-edit fa-lg"></i></a>
            <a class="nav-link px-8" href=<%= "/blog/delete/" + blog.id %>> <i class="fa fa-trash fa-lg"></i></a>
          </div>
        </div>
      <% }); %>
    </div>
  </body>
</html>
